{% extends "AppCurriculum/template.html" %}

{% load static %}

{% block datosDinamicos %}
<div class="container px-5 my-5">
    <div class="text-center mb-5">
        <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Administración de Estudios</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
              <!-- Form section-->
              <div class="card" style="margin-top: 20px;">
                <div class="card-header">
                  Agregar Estudios
                </div>
                <div class="card-body">
                  <section style="margin-bottom: 50px;">  
                    {% if miFormulario.errors %}
                    <div class="alert alert-danger mt-3">
                        <strong>Error en el formulario:</strong>
                        {{ miFormulario.non_field_errors }}
                        {{ miFormulario.cargo.errors }}
                        {{ miFormulario.empresa.errors }}
                        {{ miFormulario.fecha_inicio.errors }}
                        {{ miFormulario.fecha_fin.errors }}
                    </div>
                {% endif %}
    
                  <form action="" method="POST" class="mb-3">{% csrf_token %}
                      <div class="mb-3">
                        <label for="{{ miFormulario.institucion.id_for_label }}" class="form-label">{{ miFormulario.institucion.label }}</label>
                        {{ miFormulario.institucion }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ miFormulario.titulo.id_for_label }}" class="form-label">{{ miFormulario.titulo.label }}</label>
                        {{ miFormulario.titulo }}
                      </div>
                      <div class="mb-3">
                        <label for="{{ miFormulario.description.id_for_label }}" class="form-label">{{ miFormulario.description.label }}</label>
                        {{ miFormulario.description }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ miFormulario.pais.id_for_label }}" class="form-label">{{ miFormulario.pais.label }}</label>
                        {{ miFormulario.pais }}
                    </div>
                      <div class="mb-3">
                          <label for="{{ miFormulario.periodo_inicio.id_for_label }}" class="form-label">{{ miFormulario.periodo_inicio.label }}</label>
                          {{ miFormulario.periodo_inicio }}
                      </div>
                      <div class="mb-3">
                          <label for="{{ miFormulario.periodo_fin.id_for_label }}" class="form-label">{{ miFormulario.periodo_fin.label }}</label>
                          {{ miFormulario.periodo_fin }}
                      </div>
                      <div class="mb-3">
                        <input class="btn btn-primary" type="submit" value="Guardar registro de educacion">
                      </div>
                  </form>
                  {% if resp %}
                  <div class="alert alert-info" role="alert">
                    {{resp}}
                  </div>
                  {% endif %}
                </section>
                </div>
              </div>
              <!-- section search-->
             <div class="card" style="margin-top: 20px;">
              <div class="card-header">
                Buscar studios (por descripcion)
              </div>
              <div class="card-body">
                <section style="margin-bottom: 50px;">  
                  <form action="/AppCurriculum/educacion/" method="GET" class="mb-3">{% csrf_token %}
                    <div class="mb-3">
                      <label for="exampleFormControlInput1" class="form-label">Palabra a buscar:</label>
                      <input type="text" class="form-control" name="text_search" id="text_search" placeholder="Informatica">
                    </div>
                    <div class="mb-3">
                      <input class="btn btn-primary" type="submit" value="Buscar">
                    </div>
                  </form>
                  {% if respSearch %}
                  <div class="alert alert-info" role="alert">
                    {{respSearch}}
                  </div>
                  {% endif %}
                  <div class="card-body">
                    <section>
                      {% if estudiosSearch %}
                      <table class="table caption-top">
                          <thead>
                            <tr>
                              <th scope="col">Institución</th>
                            <th scope="col">Título</th>
                            <th scope="col">País</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for r in estudiosSearch %}
                            <tr>
                              <td>{{r.institucion}}</td>
                            <td>{{r.titulo}}</td>
                            <td>{{r.pais}}</td>
                            <td>{{r.description}}</td>
                            <td>{{r.periodo_inicio}}</td>
                            <td>{{r.periodo_fin}}</td>
                            </tr>
                            {% endfor%}
                          </tbody>
                      </table>
                      {% endif %}
                  </section>
                </section>
              </div>
              </div>
               <!-- section list-->
               <div class="card" style="margin-top: 20px;">
                <div class="card-header">
                  Listado de Estudios
                </div>
                <div class="card-body">
                  <section>
                    <table class="table caption-top">
                        <thead>
                          <tr>
                            <th scope="col">Institución</th>
                            <th scope="col">Título</th>
                            <th scope="col">País</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Fecha Fin</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for info in estudios %}
                          <tr>
                            <td>{{info.institucion}}</td>
                            <td>{{info.titulo}}</td>
                            <td>{{info.pais}}</td>
                            <td>{{info.description}}</td>
                            <td>{{info.periodo_inicio}}</td>
                            <td>{{info.periodo_fin}}</td>
                          </tr>
                          {% endfor%}
                        </tbody>
                    </table>
                </section>
                </div>
              </div>
            
        </div>
    </div>
</div>
{% endblock %}